<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Videos">
    <ion-content>
		<div class="list">
			<div class="item item-text-wrap">
				<div class="video-container">
						 <iframe src="http://www.youtube.com/embed/vtnMCcIs98k" frameborder="0" width="560" height="315"></iframe>
				</div>
			</div>
			<div class="item item-text-wrap">
				<div class="video-container">
						 <iframe src="http://www.youtube.com/embed/_AZwF-_w3ho" frameborder="0" width="560" height="315"></iframe>
				</div>
			</div>
		</div>		
				
    </ion-content>
</ion-view>
