<ion-view view-title="{{profile.title}}">
    <ion-content>
		<div class="list">
			<div class="item no-padding">
		        <div style="height:250px;max-width:100%;background-image:url('img/profile-bg.jpg');"></div>
			</div>
			<div class="item bar bar-dark">
		        {{profile.subtitle}}
			</div>
			<div class="item item-text-wrap">
			
				<div class="list card">
					<!-- <div class="item item-divider">Recent Updates</div> -->
					<div class="item  item-icon-left">
						<div>
							<i class="icon ion-ios-telephone"></i> <a href="tel:{{profile.phone}}" >{{profile.phone}}</a>
						</div>
					</div>
				</div>
				<div class="list card">
					<!-- <div class="item item-divider">Health</div> -->
					<div class="item item-icon-left">
						<div>
							<i class="icon ion-ios-email"></i> <a href="mailto:{{profile.email}}" >{{profile.email}}</a>
						</div>
					</div>
				</div>
				<div class="list card">
					<!-- <div class="item item-divider">Upcoming</div> -->
					<div class="item item-icon-left">
						<div>
							<i class="icon ion-ios-world"></i> <a href="{{profile.website}}" >{{profile.website}}</a>
						</div>
					</div>
				</div>
				<div class="list card">
					<!-- <div class="item item-divider">Upcoming</div> -->
					<div class="item item-icon-left">
						<div>
							<i class="icon ion-ios-information-outline" style="height:52px"></i> {{profile.description}}
						</div>
					</div>
				</div>

			</div>
		</div>		
				
    </ion-content>
</ion-view>
