<ion-view view-title="Achievements">
    <ion-content>
		<div class="list">
			<div class="item no-padding">
		        <div style="height:250px;max-width:100%;background-image:url('img/profile-bg.jpg');"></div>
			</div>
			<div class="item item-text-wrap">
				<p>We provide excellent service for : best android apps, android app store, free android apps, top android apps, android apps free, android app development, android app, mobile app, mobile app development, android market app and google android apps.</p>
				<p>We specialise in website design London, web design London. Our web designers listen to your needs and design your website according to your requirements</p>
			</div>
		</div>		
				
    </ion-content>
</ion-view>
